@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


.backgrounddd{
    background-size: cover;
    width: 100%;
    height:100vh;
}
.text-on-photog{
margin-left: 40px;
font-family: 'Poppins', sans-serif;}


.card-container11 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px; 
    gap: 30px; 
  }