.unique-slider {
  display: flex;
  align-items: center;
  color: white;
  padding: 20px;
  max-width: 80%;
  margin: auto;
  gap: 20px;
  margin-top: 150px;
  margin-bottom: 150px;
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.unique-slider.slider-visible {
  opacity: 1;
  transform: translateX(0);
}

.unique-event-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.unique-title1 {
  font-size: 2em;
  display: flex;
  margin-left: -110px;
  margin-top: -50px;
  color: #ffffff;
  margin-bottom: 70px;
}

.unique-event-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.unique-date-circle {
  width: 80px;
  height: 80px;
  background-color: #0b1a30;
  color: #fff;
  border: 2px solid #63ceff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  margin-right: 20px;
  margin-top: -70px;
  text-align: center;
}

.unique-event-content {
  display: flex;
  flex-direction: column;
}

.unique-event-title {
  font-size: 1.2em;
  color: #ffffff;
  margin-bottom: -15px;
  margin-left: 39px;
}

.unique-event-details {
  list-style: none;
  padding: 0;
  font-size: 0.9em;
  color: #ffffff;
  margin-bottom: 7px;
}

.unique-detail-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.unique-detail-item svg {
  margin-right: 8px;
}

.unique-buy-button4 {
  display: inline-block;
  color: #fff;
  padding: 10px 10px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 120px;
  text-align: left;
  background-color: #AF621B;
  margin-left: 1px;
  border-radius: 30px;
}

.unique-buy-button4:hover {
  transform: scale(1.1);
  background-color: #86470b;
  color: #fff;
}

.unique-slider-controls1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: -520px;
}

.unique-slider-controls1 button {
  background: none;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  border: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.unique-slider-controls1 button:hover {
  background-color: #af621baf;
  width: 50px;
  border-radius: 100px;
}

.unique-event-image {
  width: 500px;
  height: 500px;
  background-position: center;
  border-radius: 10px;
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.unique-slider.slider-visible .unique-event-image {
  opacity: 1;
  transform: translateX(0);
}

/* Responsive Design */
@media (max-width: 768px) {
  .unique-slider {
    flex-direction: column;
    text-align: center;
  }

  .unique-event-item {
    flex-direction: column;
    align-items: center;
  }

  .unique-event-image {
    margin-top: 20px;
    height: 200px;
  }
}
.unique-link-text4{color: #ffffff;
text-decoration: none;}